* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Oxygen;
    background: #ffffff;
    color: #5A5C5E;
}

.container {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    flex: 62%;
}

.tomada-img {
    width: 100%;
}

.main {
    flex: 35%;
    padding: 15px;
    align-self: center;
}

h2 {
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.9rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 24px 0 30px 0;
}

button {
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: #23A4CE;
    border-radius: 4px;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    button {
        width: 100%;
    }
}

@media (min-width: 1120px) {
    .main {
        padding: 0;
    }
    h2 {
        font-size: 3.6rem;
        line-height: 3.61rem;
    }
    p {
        font-size: 1.26rem;
        line-height: 2rem;
    }
}