* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    font-family: Oxygen;
    background: #ffffff;
    color: #5A5C5E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    flex: 50%;
}

.astro-img {
    width: 100%;
    padding-right: 50px;
}

.main {
    flex: 45%;
    padding: 30px 45px;
    align-self: center;
}

h2 {
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.9rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 24px 0 30px 0;
}

button {
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: #23A4CE;
    border-radius: 4px;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    button {
        width: 100%;
    }
}

@media (min-width: 1120px) {
    .container {
        width: 100vw;
        height: 768px;
        max-width: 1440px;
        max-height: 768px;
    }
    .logo img {
        padding-left: 57px;
        padding-bottom: 52px;
        padding-right: 36px;
    }
    .main {
        padding: 13px 120px 25px 66.3px;
    }
    h2 {
        font-size: 3.6rem;
        line-height: 3.6rem;
    }
    p {
        font-size: 1.26rem;
        line-height: 2rem;
    }
}