@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@media screen and (max-width: 767.98px) {
    button {
        width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1209.98px) {
    .main {
        overflow: hidden;
    }
    button {
        padding: 7px 25px !important;
    }
}


@media (min-width: 1210px) {
    .main {
        overflow: hidden;
    }
    .container-fluid {
        max-width: 1440px;
        max-height: 768px;
    }

    .main-text {
        padding: 65px 120px 0 0 !important;
        margin-left: 0.5rem;
        margin-bottom: 5rem;
        h2 {
            font-size: 3.6rem;
            line-height: 3.6rem;
        }
        p {
            // letter-spacing: 0.1px;
            font-size: 1.26rem;
            line-height: 2rem;
        }
    }
}

