@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 767.98px) {
    button {
        width: 100%;
    }
}

@media screen and (max-width: 1209.98px) {
    button {
        padding: 7px 25px !important;
    }
}


@media (min-width: 1210px) {
    .container-fluid {
        max-width: 1440px;
        max-height: 768px;
    }
    .logo {
        margin-bottom: 80px;
    }

    .main-text {
        padding: 65px 120px 0 0 !important;
        margin-bottom: 80px;
        h2 {
            font-size: 3.6rem;
            line-height: 3.6rem;
        }
        p {
            font-size: 1.26rem;
            line-height: 2rem;
        }
    }
}

